<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="navbar-toggler-icon"></span>
          </button> <a class="navbar-brand navbar-brand-logo" href="http://knot9.com"><img src="{{ site.baseurl }}/images/logo-white.png" alt="Knot9"> </a>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link font-weight-bold" href="/blog/"><font style="color: #ee202e">Knot9</font> Blog</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">About</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Categories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider">
                  </div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li> -->
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto">
              <li class="nav-item"><a class="nav-link px-2" href={{site.social_network.facebook}} target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href={{site.social_network.twitter}} target="_blank"><span class="fa fa-twitter"></span></a></li>
              <li class="nav-item"><a class="nav-link px-2" href={{site.social_network.youtube}} target="_blank"><span class="fa fa-youtube"></span></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>