<script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery-migrate-3.0.0.js"></script>
<script src="{{ site.baseurl }}/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.stellar.min.js"></script>

<script src="{{ site.baseurl }}/js/main.js"></script>
<script src="{{ site.baseurl }}/js/custom.js"></script>