<div class="col-md-12 col-lg-8 main-content">
  <h1 class="mb-4">{{page.title}}</h1>
  <div class="post-meta">
    {% for category in page.categories %}
      <span class="category">{{category}}</span>
    {% endfor %}
    <span class="mr-2">{{page.date | date: '%d %b %Y'}}</span> &bullet;
    <!-- <span class="ml-2"><span class="fa fa-comments"></span> 3</span> -->
  </div>
  <div class="post-content-body">
    {{page.content}}
<!--     <div class="row mb-5">
      <div class="col-md-12 mb-4 element-animate">
        <img src="/images/img_7.jpg" alt="Image placeholder" class="img-fluid">
      </div>
      <div class="col-md-6 mb-4 element-animate">
        <img src="/images/img_9.jpg" alt="Image placeholder" class="img-fluid">
      </div>
      <div class="col-md-6 mb-4 element-animate">
        <img src="{{page.image}}" alt="Image placeholder" class="img-fluid">
      </div>
    </div> -->
  </div>

  <div class="pt-5">
    <p>Categories:  <a href="https://www.knot9.com/videos/free-stock-video">Free Stock Video</a>, <a href="https://www.knot9.com/">Royalty Free Stock Videos</a>  <!-- Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p> -->
  </div>

  {% include post/comments.html %}
</div>
