<!doctype html>
<html lang="en">
  {% include common/header.html %}
  <body>
    {% include common/header_banner.html %}
    <section class="site-section py-lg">
      <div class="container">
        <div class="row">
          <div class="blog-entries">
            <div class="col-lg-12">
              <div class="about-banner">
                <img class="img-fluid" src="/images/about-us.jpg" alt="About us">
                <h3>About <strong>Knot9</strong></h3>
              </div>

              <div class="about-company-details mt-5">
                <h1>The  <font>Company</font> <img src="/images/camera_icon.png" alt="Icon"></h1>

                <h3>Knot9 is the fast growing stock footage marketplace, providing creaters, producers and filmmakers of all kinds of stock footages.</h3>

                <h3>The company licenses videos and editorial assets -- as well as custom content to tailored to a brand's needs. Knot9 offers various plans for
                individuals, teams, and enterprise customers.</h3>
              </div>

              <div class="about-company-details">
                <section class="abt-why-us">
                  <div class="container">
                    <div class="row">
                      <div class="about-company-details wow fadeIn animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                        <h1>Why <font>Us</font> <img src="/images/camera_icon.png" alt="Icon"></h1>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-4 wow fadeInLeft animated animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;"> <img src="/images/whyus-uniq-footage.png" alt="Whyus 1"> <strong>UNIQUE FOOTAGE</strong>
                        <p>Uniq collection of footages</p>
                      </div>
                      <div class="col-sm-4 wow fadeInLeft col-xs-offset-1 animated animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;"> <img src="/images/whyus-price.png" alt="Whyus 2"> <strong>PRICES THAT YOU CAN’T REFUSE</strong>
                        <p>Best Price</p>
                      </div>
                      <div class="col-sm-4 wow fadeInLeft col-xs-offset-1 animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;"> <img src="/images/whyus-desi.png" alt="Whyus 3"> <strong>DESI AT HEART</strong>
                        <p>We are Indian</p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include common/footer.html %}
    {% include common/js_scripts.html %}
  </body>
</html>
