<div class="row">
  <div class="col-md-12">
    <div class="owl-carousel owl-theme home-slider">
      {% for post in site.data.home.sliders %}
        <div>
          <a href="{{post.url}}" class="a-block d-flex align-items-center height-lg" style="background-image: url({{post.image}}); ">
            <div class="text half-to-full">
              <div class="post-meta">
                <span class="category">{{post.category}}</span>
                <span class="mr-2">{{post.date}}</span><!--  &bullet; -->
                <!-- <span class="ml-2"><span class="fa fa-comments"></span> 3</span> -->
              </div>
              <h3>{{post.title}}</h3>
              <p>{{post.description}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
